@define-color feedlist-bg #444;
@define-color feedrow-bg shade(@feedlist-bg, 1.2);
@define-color feedlist-slider shade(@feedlist-bg, 2.5);
@define-color feedlist-label shade(@feedlist-bg, 3);
@define-color feedlist-selected shade(@feedlist-bg, 1.6);

.sidebar,
.sidebar .scrollbar,
.sidebar .activatable {
    background-color: @feedlist-bg;
}
.sidebar .slider {
    background: @feedlist-slider;
}
.sidebar label {
    color: @feedlist-label;
    font-weight: bold;
}
.sidebar-row:selected,
.sidebar-row:selected*,
.sidebar-feed:selected,
.sidebar-feed:selected * {
    background: @feedlist-selected;
}
.sidebar-row:hover,
.sidebar-row-popover {
    background: shade(@feedlist-bg, 1.1);
}
.sidebar-row:selected:hover,
.sidebar-feed:selected:hover,
.sidebar-feed-selected-popover,
.sidebar-row-selected-popover {
    background: shade(@feedlist-selected, 1.1);
}
.sidebar-feed,
.sidebar-row {
    background: @feedlist-bg;
}

.sidebar-feed:hover,
.sidebar-feed-popover {
    background: shade(@feedrow-bg, 1.1);
}
.sidebar-separator {
    color: shade(@feedlist-bg, 0.82);
    border: none;
}
.sidebar-symbolic {
    color: @feedlist-label;
}
/******************/
/* sidebar footer */
/******************/

.footer {
    background: @feedlist-bg;
}
.footer button {
    background: none;
    border: 0;
    border-radius:0;
}
.footer button:hover,
.footer-popover {
    background: shade(@feedlist-bg, 1.1);
    border-width: 0;
    border-radius: 0;
}
.footer button:disabled {
	color:shade(@feedlist-label, 0.9);
}

.footer button:active {
    border-width: 0;
    border-radius: 0;
}
