@define-color feedlist-bg			#444;
@define-color feedrow-bg			shade(@feedlist-bg, 1.2);
@define-color feedlist-slider		shade(@feedlist-bg, 2.5);
@define-color feedlist-label		shade(@feedlist-bg, 3);
@define-color feedlist-selected		shade(@feedlist-bg, 1.6);


.sidebar,
.sidebar .scrollbar {
	background: @feedlist-bg;
}

.sidebar .slider {
	background: @feedlist-slider;
}

.sidebar label{
	color: @feedlist-label;
	font-weight: bold;
}

.sidebar-row:selected,
.sidebar-feed:selected {
	background: @feedlist-selected;
}

.sidebar-row:hover {
	background: shade(@feedlist-bg, 1.1);
}

.sidebar-row:selected:hover,
.sidebar-feed:selected:hover {
	background: shade(@feedlist-selected, 1.1);
}

.sidebar-feed {
	background: @feedrow-bg;
}

.sidebar-feed:hover {
	background: shade(@feedrow-bg, 1.1);
}

.feedlist-separator {
	color: shade(@feedlist-bg, 0.82);
	border: 1px solid;
}

.feedlist-symbolic {
	color: @feedlist-label;
}

/******************/
/* sidebar footer */
/******************/

.footer {
	background: shade(@feedlist-bg, 0.9);
}

.footer button {
	background:none;
	border: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.footer button:hover {
	background: shade(@feedlist-bg, 1.1);
}

/**********************************************/
/* predefined styles for right-click-popovers */
/**********************************************/

.footer-popover {
	background: shade(@feedlist-bg, 1.1);
}

.sidebar-feed-popover {
	background: shade(@feedrow-bg, 1.1);
}

.sidebar-feed-selected-popover {
	background: shade(@feedlist-selected, 1.1);
}

.sidebar-row-popover {
	background: shade(@feedlist-bg, 1.1);
}

.sidebar-row-selected-popover {
	background: shade(@feedlist-selected, 1.1);
}

