build/
feedreader.service
feedreader.desktop
feedreader-autostart.desktop
feedreader.appdata.xml
Constants.vala
data/org.gnome.FeedReader-autostart.desktop
data/org.gnome.FeedReader.desktop
data/org.gnome.FeedReader.Daemon.service
data/org.gnome.FeedReader.appdata.xml
*.po~
