---
permalink: /changelog
---
{% include header.html is_changelog="true" %}

<div class="container" style="padding-top: 100px; margin-top: -60px;">

    {% for log in site.changelog reversed %}
    <div class="scrolled-content container-fluid" id='{{log.version | replace:".",""}}'>
        <h2>{{log.version}}</h2>
        <ul class="list-group">
            {% for issue in log.issues %}
            <li class="list-group-item">
                {{issue.content}}
                <span  style="float:right">
                    {% if issue.category == "Feature" %}
                    <span class="label label-success">
                    Features
                    </span>
                    {% elsif issue.category == "Bugfixes" %}
                    <span class="label label-warning">
                    BugFixes
                    </span>
                    {% elsif issue.category == "Tweaks" %}
                    <span class="label label-info">
                    Tweaks
                    </span>
                     {% elsif issue.category == "Buildsystem" %}
                    <span class="label label-default">
                    Buildsystem
                    </span>    
                    {% endif %}
                    
                    &nbsp;
                    {% if issue.github-id %}
                    <a href="https://github.com/jangernert/FeedReader/issues/{{issue.github-id}}">
                        <span class="label label-primary">#{{issue.github-id}}</span>
                    </a>
                    {% endif %}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% include footer.html is_changelog="true" %}
