---

---
{% include header.html is_changelog="false" %}

    <div class="container" id="feedreader" style="padding-top: 100px; margin-top: -100px">
        <div class="jumbotron">
            <h1 class="text-center">FeedReader <small>RSS desktop client</small></h1>
            <br/>

            <div class="container" id="screenshots" style="padding-top: 60px; margin-top: -60px">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                    {% assign counter = 0 %}
                    {% for image in site.static_files %}
                        {% if image.path contains 'images/gallery' %}
                        {% if counter == 0 %}
                        <div class="item active">
                        {% else %}
                        <div class="item">
                        {% endif %}
                            <img class="img-responsive" src="{{site.baseurl}}{{image.path}}" alt="{{image.name | replace:'.png', ''}}">
                        </div>
                        {% assign counter = 1 %}
                        {% endif %}
                    {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <!-- Carousel -->
            </div>
            <br/>
            <h3>
            	FeedReader is a modern desktop application designed to complement existing web-based RSS accounts.<br>
            	<small>
            		It combines all the advantages of web based services like synchronisation across all your devices with everything you expect from a modern desktop application.
            	</small>
            </h3>
        </div>
    </div>

    <hr>
    <div class="container" id="features" style="padding-top: 60px; margin-top: -60px">
        <h1 class="text-center">Features</h1>

        <h1 class="text-center"><small>FeedReader works with</small></h1>
        <br>
            {% for service in site.services %}
            {% assign loopindex = forloop.index | modulo: 3 %} 
            {% if loopindex == 1 %} 
            <div class="col-xs-12">
            {% endif %}
            <div class="col-md-4 list-group ">
                {% if service.link != nil %}
                <a href="{{service.link}}" class="list-group-item">
                {% else %}
                <div class="list-group-item">
                {% endif %}
                    <h4 class="list-group-item-heading">{{service.title}}</h4>
                    <p class="list-group-item-text">
                        <img width="100" height="100" src="{{site.baseurl}}/images/{{service.logo}}" alt="{{service.title}}">
                        {{service.content}}
                    </p>
                {% if service.link != nil %}
                </a>
                {% else %}
                </div>
                {% endif %}
            </div>
            {% if loopindex == 0 %}
            </div>
            {% endif %}
            {% endfor %}
            {% assign services_index = site.services.size | modulo: 3 %} 
            {% if services_index != 0%}
             </div>
            {% endif %}
        <br />

        <h1 class="text-center"><small>Push to Read-it-later</small></h1>
        <br>
        {% for read_it_later in site.read-it-later %}
            {% assign loopindex = forloop.index | modulo: 3 %} 
            {% if loopindex == 1 %} 
            <div class="col-xs-12">
            {% endif %}
            <div class="col-md-4 list-group">
                {% if read_it_later.link != nil %}
                <a href="{{read_it_later.link}}" class="list-group-item">
                {% else %}
                <div class="list-group-item">
                {% endif %}
                    <h4 class="list-group-item-heading">{{read_it_later.title}}</h4>
                    <p class="list-group-item-text">
                        <img width="100" height="100" src="{{site.baseurl}}/images/{{read_it_later.logo}}" alt="{{read_it_later.title}}">
                        {{read_it_later.content}}
                    </p>
                {% if read_it_later.link != nil %}
                </a>
                {% else %}
                </div>
                {% endif %}
            </div>
            {% if loopindex == 0 %}
            </div>
            {% endif %}
            {% endfor %}
            {% assign read-it-later_index = site.read-it-later.size | modulo: 3 %} 
            {% if read-it-later_index != 0%}
             </div>
            {% endif %}
        
        <h1 class="text-center"><small>Share with others</small></h1>
        <br>
        {% for share_service in site.share %}
        {% assign loopindex = forloop.index | modulo: 3 %} 
        {% if loopindex == 1 %} 
        <div class="col-xs-12">
        {% endif %}
            <div class="col-md-4 list-group">
                {% if share_service.link == nil %}
                <div class="list-group-item">
                {% else %}
                <a href="{{share_service.link}}" class="list-group-item">
                {% endif %}
                    <h4 class="list-group-item-heading">{{share_service.title}}</h4>
                    <p class="list-group-item-text">
                        <img width="100" height="100" src="{{ site.baseurl }}/images/{{share_service.icon}}" alt="{{share_service.title}}">
                        {{share_service.content}}
                    </p>
                {% if share_service.link == nil %}
                </div>
                {% else %}
                </a>
                {% endif %}
            </div>
        {% if loopindex == 0%} 
        </div>
        {% endif %}
        {% endfor %}
        {% assign share_index = site.share.size | modulo: 3 %} 
        {% if share_index != 0%}
        </div>
        {% endif %}
        <h1 class="text-center"><small>What makes FeedReader special?</small></h1>
        <br>
        {% for feature in site.features %}
        {% assign loopindex = forloop.index | modulo: 3 %} 
        {% if loopindex == 1 %} 
        <div class="col-xs-12">
        {% endif %}
            <div class="col-md-4 list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{feature.title}}</h4>
                    <p class="list-group-item-text">
                        <img width="100" height="100" src="{{ site.baseurl }}/images/{{feature.icon}}" alt="{{feature.title}}">
                        {{feature.content}}
                    </p>
                </div>
            </div>
        {% if loopindex == 0%} 
        </div>
        {% endif %}
        {% endfor %}
        {% assign share_index = site.features.size | modulo: 3 %} 
        {% if share_index != 0%}
        </div>
        {% endif %}

        <h2 class="text-center"><small>And much more ...</small></h2>
    </div>

    <hr>

    <div class="container" id="install" style="padding-top: 60px; margin-top: -60px">
        <h1 class="text-center">Installation</h1>
        <br/>
        <ul class="nav nav-tabs nav-justified">
            {% for package in site.packages %}
            {% if forloop.index == 1 %}
             <li role="presentation" class="active">
            {% else %}
            <li role="presentation">
            {% endif %}
                <a data-toggle="tab" href="#{{package.data-content}}">{{package.distro}}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for package in site.packages %}
            {% if forloop.index == 1 %}
            <div id="{{package.data-content}}" class="tab-pane fade in active">
            {% else %}
            <div id="{{package.data-content}}" class="tab-pane fade">
            {% endif %}
                {{package.content}}
            </div>
            {% endfor %}
            	
        </div>
        <br>
        <h4><small>NOTE: If you run FeedReader with the TinyTinyRSS-backend please install the "<a href="https://github.com/jangernert/FeedReader/tree/master/data/tt-rss-feedreader-plugin">api_feedreader</a>"-extension. Running FeedReader with the TinyTinyRSS-backend and without the extension is NOT supported.</small></h4>
    </div>
    <hr>

    <div class="container" id="get-involved" style="padding-top: 60px; margin-top: -60px">
        <h1 class="text-center">Support &amp; Getting Involved</h1>
        <div class="col-md-6">
            <h1 class="text-center"><small>Support</small></h1>
            <p> &nbsp; </p>
            <div class="text-center">
                <i class="fa fa-life-ring fa-5x"></i>
            </div>
            <p> &nbsp; </p>
            <p style="font-size: 125%" class="text-center">
                Please report bugs over at <a href="https://github.com/jangernert/FeedReader">GitHub</a>.
                <br/> You can also support the development of FeedReader over at <a href="https://www.bountysource.com/teams/feedreader-gtk/issues?tracker_ids=16778038">Bountysource</a> and throw in a few bucks at any bug you would like to be fixed or any
                feature you would like to see implemented.
            </p>
        </div>
        <div class="col-md-6">
            <h1 class="text-center"><small>Getting Involved</small></h1>
            <h4>Vala</h4>
            <ul>
                <li>You can find the code on <a href="https://github.com/jangernert/FeedReader/tree/master">GitHub</a>.</li>
                <li>Help us fixing bugs or implement your own ideas.</li>
                <li>Talk to <a href="https://plus.google.com/109974726829108083807/about">me on G+</a> before working on bigger changes =)</li>
            </ul>
            <h5>CSS</h5>
            <ul>
                <li>Improve the theming of FeedReader itself with <a href="https://github.com/jangernert/FeedReader/tree/master/data/gtk-css">Gtk-CSS</a></li>
                <li>Improve the <a href="https://github.com/jangernert/FeedReader/blob/master/data/ArticleView/style.css">current article theme</a> with its 3 color variants</li>
                <li>Create a completely new article theme</li>
            </ul>
            <h5>Translation</h5>
            <ul>
                <li>Help us translate Feedreader to other languages at <a href="https://hosted.weblate.org/projects/feedreader/">Weblate</a> and join Feedreader translators team.</li>
            </ul>
            <h5>Grabber Configuration</h5>
            <ul>
                <li>Have you encountered a feed that does only contain a small preview of the article? Then help us change that.</li>
                <li>You only need to know the basics about <a href="https://en.wikipedia.org/wiki/XPath">XPath</a> (its not hard at all)</li>
                <li>Here is the <a href="http://help.fivefilters.org/customer/portal/articles/223153-site-patterns">full documentation</a> of FiveFilters</li>
                <li>Look at the <a href="https://github.com/jangernert/ftr-site-config">existing config-files</a> to learn how they work</li>
                <li>If you find a bug in the existing config-files (most likely the website changed) feel free to fix it</li>
            </ul>

        </div>

        </div>
{% include footer.html is_changelog="false" %}
