#fake-example *:selected *:visited {
    opacity: 1;
}
.feedlist-spinner {
    color: mix(@theme_bg_color, @theme_fg_color, 0.5);
}
FeedReaderUpdateButton:insensitive * {
    opacity: 1;
}
GtkEventBox {
    background: none;
}
GtkListBoxRow,
.addServiceButton {
    border: none;
    border-radius: 0px;
    background-image: none;
}
.article-list GtkListBoxRow {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(128, 128, 128, 0.3);
}
.fr-sidebar {
    text-shadow: none;
    icon-shadow: none;
    background: none;
    -gtk-icon-style: symbolic;
}
.list-row {
    padding: 0px;
    outline: none;
}
.destructive-action GtkSpinner {
    color: white;
}
.transparentBG {
    background: rgba(0, 0, 0, 0);
}
.overlay {
    background: black;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
}
.servicebox {
    border: 1px solid alpha (#000, 0.30);
}
/***************/
/* text styles */
/***************/

.bold {
    font-weight: bold
}
.h1 {
    font-weight: bold;
    font-size: xx-large;
}
.h2 {
    font-size: x-large;
}
.h3 {
    font-size: large;
}
.h4 {
    font-weight: bold
}
.small {
    font-size: x-small;
}
.preview {
    font-size: small;
}
.headline-read,
.headline-unread {
    font-style: normal;
    font-size: large;
}
.headline-read {
    font-weight: normal;
}
.headline-unread {
    font-weight: bold;
}
.imageOverlay {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
/*******************/
/* split headerbar */
/*******************/

.headerbar_pane.pane-separator {
    border-radius: 0;
    border-width: 0 1px 1px 0;
}
.titlebar .pane-separator {
    background-color: shade(@theme_bg_color, 0.4);
    background-image: none;
}
.header_right {
    border-top-right-radius: 0;
}
.header_left {
    border-top-left-radius: 0;
}
