.sidebar,
.sidebar .scrollbar,
.sidebar .slider {
    background: @theme_bg_color;
}
.sidebar-row:selected,
.sidebar-row:selected *,
.sidebar-feed:selected {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
.sidebar-row:prelight,
.sidebar-row-popover,
.sidebar-feed:prelight,
.sidebar-feed-popover {
    background: shade(@theme_bg_color, 0.9);
}
.sidebar-row:selected:prelight,
.sidebar-feed:selected:prelight,
.sidebar-feed:selected:prelight *,
.sidebar-feed-selected-popover,
.sidebar-row-selected-popover {
    background: shade(@theme_selected_bg_color, 0.9);
    color: @theme_selected_fg_color;
}
.sidebar-feed {
    background: shade(@theme_bg_color, 1.2);
}
/******************/
/* sidebar footer */
/******************/

.footer GtkButton {
    box-shadow: none;
}
.footer GtkButton GtkLabel {
    color: @theme_fg_color;
}
.footer GtkButton:prelight,
.footer-popover {
    background: shade(@theme_bg_color, 0.9);
    color: @theme_fg_color;
}
.footer GtkButton:insensitive {
    color: mix(@theme_bg_color, @theme_fg_color, 0.5);
}
