.fr-sidebar,
.fr-sidebar .scrollbar,
.fr-sidebar .slider {
    background: @theme_bg_color;
}
.fr-sidebar-row:selected,
.fr-sidebar-row:selected *,
.fr-sidebar-feed:selected {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
.fr-sidebar-row:prelight
.fr-sidebar-feed:prelight {
    background: shade(@theme_bg_color, 0.9);
}
.fr-sidebar-row:selected:prelight,
.fr-sidebar-feed:selected:prelight,
.fr-sidebar-feed:selected:prelight * {
    background: shade(@theme_selected_bg_color, 0.9);
    color: @theme_selected_fg_color;
}
.fr-sidebar-feed {
    background: shade(@theme_bg_color, 1.2);
}
/******************/
/* sidebar footer */
/******************/

.footer GtkButton {
    box-shadow: none;
}
.footer GtkButton GtkLabel {
    color: @theme_fg_color;
}
.footer GtkButton:prelight,
.footer-popover {
    background: shade(@theme_bg_color, 0.9);
    color: @theme_fg_color;
}
.footer GtkButton:insensitive {
    color: mix(@theme_bg_color, @theme_fg_color, 0.5);
}
