<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <meta name="keywords" content="FeedReader, RSS, desktop, client">
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{site.baseurl}}/images/feedreader.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{site.baseurl}}/styles/bootstrap.css">
    <link rel="stylesheet" href="{{site.baseurl}}/styles/feedreader.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="scroll"><a class="navbar-brand" href="{{site.baseurl}}/#feedreader">FeedReader</a></span>
            </div>

            <div class="collapse navbar-right navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav">
                    <li class="scroll"><a href="{{site.baseurl}}/#features">Features</a></li>
                    <li class="scroll"><a href="{{site.baseurl}}/#install">Installation</a></li>
                    <li class="scroll"><a href="{{site.baseurl}}/#get-involved">Support &amp; Getting Involved</a></li>

                  </li>
                </ul>
            </div>
        </div>
    </nav>
     <p> &nbsp; </p>
