[Desktop Entry]
Name=FeedReader Autostart
GenericName=RSS Client
Comment=
Categories=GTK;Utility;
Exec=feedreader-daemon
Icon=internet-news-reader
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=tt-rss
X-GNOME-Keywords=