[Desktop Entry]
Name=FeedReader
GenericName=RSS Client
Comment=
Categories=GTK;Utility;
Exec=feedreader
Icon=internet-news-reader
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
X-GNOME-Gettext-Domain=FeedReader
X-GNOME-Keywords=
