[Desktop Entry]
Name=FeedReader Autostart
GenericName=RSS Client
Comment=
Categories=GTK;Utility;
Exec=feedreader-daemon
Icon=feedreader
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=tt-rss
X-GNOME-Keywords=
X-GNOME-UsesNotifications=true
