
GtkListBox.feed-list {
	background: rgb(80,80,80);
}

.feed-list .scrollbar {
	background: rgb(80,80,80);
}

.feed-list .slider {
	background: rgb(180,180,180);
}

FeedRow
{
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	background-image: none;
}

GtkListBoxRow.feed-list-row:selected {
	background: rgb(125,125,125);
}

.list-row {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

GtkListBoxRow.feed-list-row:selected GtkBox.feed-row{
	background: rgb(125,125,125);
}

GtkBox.feed-row {
	background: rgb(90,90,90);
}

GtkListBox.article-list {
}

GtkListBox.feed-list GtkLabel{
	color: rgb(220,220,220);
	font-weight: bold;
}

GtkListBoxRow GtkLabel.headline-read-label {
	font-weight: normal;
	font-style: normal;
	font-size: large;
	color: black;
}

GtkListBoxRow:selected GtkLabel.headline-read-label {
	font-weight: normal;
	font-style: normal;
	font-size: large;
	color: white;
}

GtkListBoxRow GtkLabel.headline-unread-label {
	font-weight: bold;
	font-style: normal;
	font-size: large;
	color: black;
}

GtkListBoxRow:selected GtkLabel.headline-unread-label {
	font-weight: bold;
	font-style: normal;
	font-size: large;
	color: white;
}

GtkLabel.emptyView {
	font-weight: normal;
	font-style: normal;
	font-size: x-large;
	color: black;
}

GtkListBoxRow GtkLabel.grey-label {
	font-weight: normal;
	font-style: normal;
	font-size: small;
	color: rgb(150,150,150);
}

GtkListBoxRow:selected GtkLabel.grey-label {
	font-weight: normal;
	font-style: normal;
	font-size: small;
	color: rgb(210,210,210);
}
