.feedlist-spinner {
    color: mix(@theme_bg_color, @theme_fg_color, 0.5);
}
FeedReaderUpdateButton:insensitive * {
    opacity: 1;
}
.destructive-action GtkSpinner {
    color: white;
}
.headerbar_pane.pane-separator {
    border-radius: 0;
    border-width: 0 1px 1px 0;
}
.header_right {
    border-top-right-radius: 0;
}
.header_left {
    border-top-left-radius: 0;
}
.feed-list-row {
    text-shadow: none;
    icon-shadow: none;
    background: none;
}
GtkBox.feed-row {
    background: @theme_bg_color;
}
.list-row {
    padding: 0px;
    outline: none;
}
.addServiceButton,
GtkListBoxRow {
    border: none;
    border-radius: 0px;
    background-image: none;
}
GtkEventBox {
    background: none;
}
.feed-list,
.feed-list .scrollbar {
    background: @theme_bg_color;
}
.feed-list .slider {
    background: @theme_bg_color;
}
.feed-list-row:selected,
.feed-list-row:selected *,
.feed-list-row:selected GtkBox.feed-row {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
.feed-list-row:prelight {
    background: shade(@theme_bg_color, 0.9);
}
.feed-list-row-popover {
    background: shade(@theme_bg_color, 0.9);
}
.feed-list-row-selected-popover {
    background: shade(@theme_selected_bg_color, 0.9);
    color: @theme_selected_fg_color;
}
.feed-row-popover {
    background: shade(@theme_bg_color, 0.9);
}
.feed-row-selected-popover {
    background: shade(@theme_selected_bg_color, 0.9);
    color: @theme_selected_fg_color;
}
.feed-list-row:selected:prelight,
.feed-list-row:selected:prelight GtkBox.feed-row,
.feed-list-row:selected:prelight GtkBox.feed-row * {
    background: shade(@theme_selected_bg_color, 0.9);
    color: @theme_selected_fg_color;
}
.feed-list-row:prelight GtkBox.feed-row {
    background: shade(@theme_bg_color, 0.9);
}
.feed-list GtkLabel {
    color: @theme_fg_color;
}
.preview {
    font-size: small;
}
GtkListBoxRow GtkLabel.headline-read-label,
GtkListBoxRow GtkLabel.headline-unread-label {
    font-style: normal;
    font-size: large;
}
GtkListBoxRow GtkLabel.headline-read-label {
    font-weight: normal;
}
GtkListBoxRow GtkLabel.headline-unread-label {
    font-weight: bold;
}
GtkScrolledWindow GtkViewport.servicebox {
    border: 1px solid alpha (#000, 0.30);
}
.FeedListFooter GtkButton:prelight {
    background: shade(@theme_bg_color, 0.9);
    color: @theme_fg_color;
}
.FeedListFooter GtkButton {
    box-shadow: none;
}
.FeedListFooter GtkButton GtkLabel {
    color: @theme_fg_color;
}
.FeedListFooter GtkButton:insensitive {
    color: mix(@theme_bg_color, @theme_fg_color, 0.5);
}
.FeedListFooterButtonPopover {
    background: shade(@theme_bg_color, 0.9);
}
.transparentBG {
    background: rgba(0, 0, 0, 0);
}
.overlay {
    background: black;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
}
.bold {
    font-weight: bold
}
.h1 {
    font-weight: bold;
    font-size: xx-large;
}
.h2 {
    font-size: x-large;
}
.h3 {
    font-size: large;
}
.h4 {
    font-weight: bold
}
.small {
    font-size: x-small;
}
