[Desktop Entry]
Name=FeedReader
GenericName=RSS Client
Comment=Read feeds from web services
Categories=GTK;Utility;
Exec=feedreader
Icon=internet-news-reader
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
X-GNOME-Gettext-Domain=FeedReader
X-GNOME-Keywords=
Actions=AboutDialog;
MimeType=x-scheme-handler/pocketapp42;

[Desktop Action AboutDialog]
Exec=feedreader --about
Name=About FeedReader
